body{
    font-size:100%;
    color: white;
}
.watchFace {
    height: 80px;
    margin-top: 90px;
    margin-bottom: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    font-stretch: expanded;
    font-size: 4.5em;
    text-align: center;
}
.timerFace {
    height: 80px;
    margin-top: 91px;
    margin-bottom: 19px;
    font-family: "Lucida Console", Monaco, monospace;
    font-stretch: expanded;
    font-size: 4.0em;
    text-align: center;
}
.timerPicker {
    height: 80px;
    margin-top: 90px;
    margin-bottom: 20px;
    text-align: center;
}
.timerOptions {
    display: none;
}
.watchButtons {
    margin-bottom: 10px;
}
.watchLap {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    padding-left: 18px;
    padding-right: 18px;
    height: 16px;
    border-bottom: 1px solid #77777a;
}
.watchLap td {
    border: 0px;
    width: 50%;
    padding: 0px;
    margin: 0px;
    font-size: 1.45em;
}
.leftLap {
    margin-left: 18px;
}
.rightLap {
    text-align: right;
    font-family: "Lucida Console", Monaco, monospace;
    margin-right: 18px;
}
.rightLap.default {
    color: white;
}
.rightLap.high {
    color: red;
}
.rightLap.low {
    color: green;
}
.timerPickerContainer
{
    margin-left: -4px;
    padding: 0px;
    width: 100%;
}
.timerPickerElement
{
    font-size: 2.5em;
    font-family: "Lucida Console", Monaco, monospace;
}
.alarmContent
{
    border-top:2px solid #77777a;
    padding-top: 5px;
}