body{
    font-size:100%;
    color: white;
}
.watchFace {
    height: 80vh;
    margin-top: 74px;
    margin-bottom: 24px;
    font-family: "Lucida Console", Monaco, monospace;
    font-stretch: expanded;
    font-size: 4.5em;
    text-align: center;
}
.watchButtons {
    margin-bottom: 10px;
}
.watchLap {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    padding-left: 18px;
    padding-right: 18px;
    height: 16px;
    border-bottom: 1px solid #77777a;
}
.watchLap td {
    border: 0px;
    width: 50%;
    padding: 0px;
    margin: 0px;
    font-size: 1.45em;
}
.leftLap {
    margin-left: 18px;
}
.rightLap {
    text-align: right;
    font-family: "Lucida Console", Monaco, monospace;
    margin-right: 18px;
}
.rightLap.default {
    color: white;
}
.rightLap.high {
    color: red;
}
.rightLap.low {
    color: green;
}
.watch-command-menu{
   
}