<div class="palm-hasheader">
	<div id="timerViewTitle" class="palm-header center">
		Timer
	</div>
</div>

<div id="timerViewFace" class="palm-body-text timerFace" style="display: block"></div>

<table id='timerViewPicker' class="palm-body-text timerPicker" style='display: none; text-align: center; padding-left:8px'>
	<tr>
		<td><div id="hour_field" name="hour_field" class="timerPickerElement" x-mojo-element="IntegerPicker" style='display: inline-block; '></div></td>
		<td><div id="minute_field" name="minute_field" class="timerPickerElement" x-mojo-element="IntegerPicker" style='display: inline-block; '></div></td>
		<td><div id="second_field" name="second_field" class="timerPickerElement" x-mojo-element="IntegerPicker" style='display: inline-block; '></div></td>
	</tr>
</table>

<table width="100%" class="timerButtons">
<tr>
	<td width="33%">
			<div x-mojo-element="Button" id="btnStart"></div>
	</td>
	<td width="33%">
			<div x-mojo-element="Button" id="btnReset"></div>
	</td>
	<td width="33%">
			<div x-mojo-element="Button" id="btnStop"></div>
	</td>
</tr>
</table>

<div id="runningPlaceholder" style="margin-top:18px; height:35px;">
	<div x-mojo-element="Spinner" id="runningSpinner" class="spinnerClass" name="runningSpinner" style='margin:auto;'></div>
</div>

<!--
<div id="timerCompleteTitleDiv">When Timer Completes: </div>
<div id="timerCompleteOptionsDiv">Play a sound</div>
-->