<div class="palm-hasheader">
	<div id="timerViewTitle" class="palm-header center">
		Timer
	</div>
</div>

<div id="timerViewFace" class="palm-body-text watchFace" style="display: block"></div>

<div id='timerViewPicker' class="palm-body-text timerPicker" style='display: none; text-align: center; padding-left:8px;'>
	<div id="hour_field" name="hour_field" class="timerPickerElement" x-mojo-element="IntegerPicker" style='display: inline-block; '></div>
	<div id="minute_field" name="minute_field" class="timerPickerElement" x-mojo-element="IntegerPicker" style='display: inline-block; '></div>
</div>

<table width="100%" class="timerButtons">
<tr>
	<td width="33%">
			<div x-mojo-element="Button" id="btnStart"></div>
	</td>
	<td width="33%">
			<div x-mojo-element="Button" id="btnReset"></div>
	</td>
	<td width="33%">
			<div x-mojo-element="Button" id="btnStop"></div>
	</td>
</tr>
</table>

<div id="runningPlaceholder" style="margin-top:18px; height:35px;">
	<div x-mojo-element="Spinner" id="runningSpinner" class="spinnerClass" name="runningSpinner" style='margin:auto;'></div>
</div>

<div id="timerCompleteTitleDiv">When Timer Completes: </div>
<div id="timerCompleteOptionsDiv">Play a sound</div>