<div class="palm-hasheader">
		<div id="watchViewTitle" class="palm-header center">
			Stopwatch
		</div>
</div>

<div id="watchViewDetail" class="palm-body-text watchFace"></div>

<table width="100%" class="watchButtons">
	<tr>
		<td width="33%">
				<div x-mojo-element="Button" id="btnStart"></div>
		</td>
		<td width="33%">
				<div x-mojo-element="Button" id="btnLapReset"></div>
		</td>
		<td width="33%">
				<div x-mojo-element="Button" id="btnStop"></div>
		</td>
	</tr>
</table>

<div id="watchLapTimes"></div>
<div id="watchLapPlaceholder"></div>